/* Variables */

:root {
    --color-1: rgba(242, 242, 242, 1);
    --color-2: rgba(191, 191, 191, 1);
    --color-3: rgba(63, 63, 63, 1);
    --color-4: rgba(38, 38, 38, 1);
    --color-5: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in Hex */
.Gantry-1-hex { color: #F2F2F2; }
.Gantry-2-hex { color: #BFBFBF; }
.Gantry-3-hex { color: #404040; }
.Gantry-4-hex { color: #262626; }
.Gantry-5-hex { color: #0D0D0D; }








* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-5);
    
    font-family: var(--font-family-3);
    
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: rgba(12, 12, 12, 0.7); /* dark overlay */
    pointer-events: none;
}

/* Header */
.header {
    padding: 10px 20px;
    text-align: center;
}
.header h1 {
    font-family: var(--font-family-1);
    color: var(--color-1);
    font-size: 2.5rem;
    margin: 0;
}
.header p {
    font-family: var(--font-family-2);
    color: var(--color-2);
    font-size: 1.2rem;
    margin-top: 5px;
}
/* Main */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--text-color-1);
    gap: 1rem;
}

.main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--color-4);
    padding: 1rem;
    border-radius: 8px;
}

.main .listaParticipantes {
    background-color: var(--color-4);
    padding: 1rem;
    border-radius: 8px;
    /* width: 200px; */
    max-width: auto;
    max-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.main .listaParticipantes h2 {
    color: var(--color-2);
    font-size: 1.1rem;
}

.main ul {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
}

.main ul::-webkit-scrollbar {  /* Chrome, Safari y Edge */
  display: none;
}

.main ul li {
    font-family: var(--font-family-2);
    font-size: 1.2rem;
    color: var(--text-color-1);
    margin: 5px 0;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}



.sorteo {
    display: none;
}

.button {
    font-family: var(--font-family-3);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Modal de resultado */
#resultadoModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#resultadoModal.active {
    display: flex;
}

#resultadoModal .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#resultadoModal .modal-buttons button {
    margin: 0 5px;
}

.amigoTexto {
    font-family: var(--font-family-2);
    font-size: 1.5rem;
    color: #0D0D0D;
    margin-top: 20px;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem 0;
    background: var(--background-color);
}

.footer p {
    font-family: var(--font-family-3);
    color: var(--color-2);
    font-size: 1.2rem;
    margin: 0;
}