/* Variables */

:root {
    --color-1: rgba(242, 242, 242, 1);
    --color-2: rgba(191, 191, 191, 1);
    --color-3: rgba(63, 63, 63, 1);
    --color-4: rgba(38, 38, 38, 1);
    --color-5: rgba(12, 12, 12, 1);
    --font-family: 'Inter', 'Helvetica Neue', sans-serif;
    --font-title: 1.6rem;
    --font-subtitle: 1.3rem;
    --font-body: 0.95rem;
    --font-input: 0.9rem;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-5);
    font-family: var(--font-family);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}



/* Header */
.header {
    padding: 10px 20px;
    text-align: center;
}

.header h1 {
    color: var(--color-1);
    font-size: var(--font-title);
    margin: 0;
}

.header p {
    color: var(--color-2);
    font-size: var(--font-subtitle);
    margin-top: 5px;
}

/* Main */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--color-4);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 0.5rem;
}

.title {
    color: var(--color-1);
    font-size: var(--font-title);
    margin: 0;

    text-align: center;
}

.p {
    color: var(--color-1);
    font-size: var(--font-body);
}

.input {
    background-color: var(--color-5);
    color: var(--color-2);
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: inherit;
    font-size: var(--font-input);
}

.inicioSorteo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    background-color: var(--color-4);
    gap: 1rem;
    border-radius: 0.5rem;

    width: 100%;
    max-width: 360px;
}

.modal {
    display: none;
}

.listaParticipantes {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--color-1);
    overflow-y: auto;
    max-height: 150px;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--color-3) transparent;
    scroll-behavior: smooth;
}

/* WebKit (Chrome, Edge, Safari) */
.listaParticipantes::-webkit-scrollbar {
    width: 8px;
}

.listaParticipantes::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, var(--color-5), var(--color-4));
    border-radius: 4px;
}

.listaParticipantes::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--color-3), var(--color-2));
    border-radius: 4px;
    border: 1px solid var(--color-5);
    box-shadow: 0 0 0 1px var(--color-4);
    transition: background .3s, box-shadow .3s;
}

.listaParticipantes::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, var(--color-2), var(--color-1));
    box-shadow: 0 0 4px 0 rgba(255,255,255,0.3);
}

.listaParticipantes::-webkit-scrollbar-corner {
    background: transparent;
}

.listaParticipantes li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-4);
    background-color: var(--color-5);
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: var(--font-body);
}



/* Buttons*/
.button {
    color: var(--color-1);
    background-color: var(--color-5);
    border: 1px solid var(--color-4);
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: var(--font-family);
    cursor: pointer;
    font-size: var(--font-body);
}

.button1 {
    border: none;
    background-color: transparent;
    color: var(--color-2);
    font-family: inherit;
    padding: 0;
    margin: 0;
}




/* Modal */
/* Modal de resultado */
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}


#resultadoModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#resultadoModal.active {
    display: flex;
}

#resultadoModal .modal-content {
    background: var(--color-4);
    padding: 35px;
    border-radius: 8px;
    text-align: center;
}

#resultadoModal .modal-buttons button {
    margin: 0 5px;
}

.amigoTexto {
    font-size: var(--font-subtitle);
    color: var(--color-1);
    margin-top: 20px;
    font-weight: bold;
}



/* Footer */
.footer {
    padding: 10px 20px;
    text-align: center;
}

.footer p {
    color: var(--color-2);
    font-size: var(--font-body);
}

/* Responsive  */

@media (min-width: 481px) {
    :root{
        --font-title: 2rem;
        --font-subtitle: 1.6rem;
        --font-body: 1rem;
        --font-input: 0.95rem;
    }

    .inicioSorteo {
        width: 90%;
        max-width: 720px;
    }
}


@media (min-width: 769px) {
    :root{
        --font-title: 2.5rem;
        --font-subtitle: 2rem;
        --font-body: 1.05rem;
        --font-input: 1rem;
    }

    .inicioSorteo {
        width: 40%;
        max-width: 1100px;
    }
}

@media (min-width: 1367px) {
    :root{
        --font-title: 3rem;
        --font-subtitle: 2.2rem;
        --font-body: 1.1rem;
        --font-input: 1.05rem;
    }

    .inicioSorteo {
        width: 80%;
        max-width: 1400px;
    }
}




